In [20]:
import pandas as pd
import time
%load_ext autoreload
%autoreload 2

from my_functions import BusStopFile

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# 1. Getting data

## LTA API Documentation
https://datamall.lta.gov.sg/content/dam/datamall/datasets/LTA_DataMall_API_User_Guide.pdf

## Bus Stop Data

In [4]:
# Create a dataframe to store the bus stop data
stop_df = pd.DataFrame(columns=['BusStopCode', 'RoadName', \
                                    'Description', 'Latitude', \
                                    'Longitude'])

# Extract the bus stop data into a dataframe
stop_df = BusStopFile('BusStops',stop_df).get_stop_data(0 , 5500)

The target url is http://datamall2.mytransport.sg/ltaodataservice/BusStops?$skip=0
The target url is http://datamall2.mytransport.sg/ltaodataservice/BusStops?$skip=500
The target url is http://datamall2.mytransport.sg/ltaodataservice/BusStops?$skip=1000
The target url is http://datamall2.mytransport.sg/ltaodataservice/BusStops?$skip=1500
The target url is http://datamall2.mytransport.sg/ltaodataservice/BusStops?$skip=2000
The target url is http://datamall2.mytransport.sg/ltaodataservice/BusStops?$skip=2500
The target url is http://datamall2.mytransport.sg/ltaodataservice/BusStops?$skip=3000
The target url is http://datamall2.mytransport.sg/ltaodataservice/BusStops?$skip=3500
The target url is http://datamall2.mytransport.sg/ltaodataservice/BusStops?$skip=4000
The target url is http://datamall2.mytransport.sg/ltaodataservice/BusStops?$skip=4500
The target url is http://datamall2.mytransport.sg/ltaodataservice/BusStops?$skip=5000

In [5]:
print(f'There were {len(stop_df)} bus stops extracted from the LTA API.')
print(stop_df.head())

There were 5083 bus stops extracted from the LTA API.
  BusStopCode       RoadName          Description  Latitude   Longitude
0       01012    Victoria St  Hotel Grand Pacific  1.296848  103.852536
1       01013    Victoria St      St. Joseph's Ch  1.297710  103.853225
2       01019    Victoria St      Bras Basah Cplx  1.296990  103.853022
3       01029  Nth Bridge Rd         Opp Natl Lib  1.296673  103.854414
4       01039  Nth Bridge Rd           Bugis Cube  1.298208  103.855491

In [60]:
# export the dataframe to a csv file
stop_df.to_csv('bus_stops.csv', index=False)

## Foot Traffic Data

In [ ]:
# Extract foot traffic data from the LTA API for the past 3 months
traffic_link = BusStopFile('Bus').get_stop_traffic('202211')
time.sleep(10)
traffic_link = BusStopFile('Bus').get_stop_traffic('202212')
time.sleep(10)
traffic_link = BusStopFile('Bus').get_stop_traffic('202301')

In [25]:
# import all the csvs and concat them
df = pd.read_csv('transport_node_bus_202211.csv')
df1 = pd.read_csv('transport_node_bus_202212.csv')
df2 = pd.read_csv('transport_node_bus_202301.csv')

traffic_df = pd.concat([df,df1,df2], ignore_index=True)

In [26]:
traffic_df.head()

,YEAR_MONTH,DAY_TYPE,TIME_PER_HOUR,PT_TYPE,PT_CODE,TOTAL_TAP_IN_VOLUME,TOTAL_TAP_OUT_VOLUME
0,2022-11,WEEKDAY,17,BUS,45379,375,368
1,2022-11,WEEKENDS/HOLIDAY,17,BUS,45379,142,102
2,2022-11,WEEKENDS/HOLIDAY,13,BUS,80051,965,902
3,2022-11,WEEKDAY,13,BUS,80051,2329,2319
4,2022-11,WEEKENDS/HOLIDAY,8,BUS,3511,50,133

In [28]:
len(traffic_df)

590332

In [39]:
# convert PT_CODE to string
traffic_df['PT_CODE'] = traffic_df['PT_CODE'].astype(str)

# for each value in PT_code find out the length
traffic_df['PT_CODE_LEN'] = traffic_df['PT_CODE'].apply(lambda x: len(x))
print(traffic_df['PT_CODE_LEN'].value_counts())

# if length of PT_CODE is 4, add a 0 in front
traffic_df['PT_CODE'] = traffic_df['PT_CODE'].apply(lambda x: '0' + x if len(x) == 4 else x)

# drop the PT_CODE_LEN column
traffic_df.drop('PT_CODE_LEN', axis=1, inplace=True)

In [40]:
# export traffic_df as csv
traffic_df.to_csv('traffic_df.csv', index=False)

# 2. Importing Data

In [ ]:
# import csvs
traffic_df = pd.read_csv('traffic_df.csv')
stop_df = pd.read_csv('bus_stops.csv')
mcd_df = pd.read_csv('mcdonalds_data.csv')