In [7]:
import json
import pandas as pd

In [5]:
# extract all latitudes and longitudes from the json file
with open('database.json') as f:
    data = json.load(f)
    latitudes = [float(x['LATITUDE']) for x in data]
    longitudes = [float(x['LONGITUDE']) for x in data]

In [9]:
# put into a dataframe and save as csv
df = pd.DataFrame({'latitude': latitudes, 'longitude': longitudes})
df.to_csv('postal_codes.csv', index=False)

In [10]:
df.head()

   latitude   longitude
0  1.275805  103.849615
1  1.274950  103.851665
2  1.279587  103.868956
3  1.279744  103.851591
4  1.276409  103.854595

In [12]:
# to do a blind test on every single postal code in existence we need these features:
features = [
 # combine these into in traffic at 1am on weekdays > 1km
 'WEEKDAY_1_in_1',
 'WEEKDAY_1_in_2',
 
 # combine these into in traffic in the morning > 1km
 'WEEKDAY_5_in_2',
 'WEEKDAY_6_in_1',
 'WEEKDAY_6_in_2',
 'WEEKDAY_7_in_1',
 'WEEKDAY_7_in_2',

 #
 'WEEKDAY_0_out_0.5',
 'WEEKDAY_0_out_1',
 'WEEKDAY_0_out_2',
 'WEEKDAY_1_out_2',
 'WEEKDAY_4_out_2',
 'WEEKDAY_7_out_2',
 'WEEKDAY_21_out_1',
 'WEEKDAY_23_out_2',
 'WEEKDAY_23_out_1',
 'WEEKDAY_22_out_1',
 
 'WEEKENDS_HOLIDAY_0_out_0.5',
 'WEEKENDS_HOLIDAY_0_out_2',
 'WEEKENDS_HOLIDAY_0_out_1',
 'WEEKENDS_HOLIDAY_1_in_2',
 'WEEKENDS_HOLIDAY_1_out_2',
 'WEEKENDS_HOLIDAY_2_out_0.5',
 'WEEKENDS_HOLIDAY_3_in_2',
 'WEEKENDS_HOLIDAY_5_in_2',
 'WEEKENDS_HOLIDAY_7_in_2',
 'WEEKENDS_HOLIDAY_8_in_1',
 'WEEKENDS_HOLIDAY_8_in_2',
 'WEEKENDS_HOLIDAY_22_out_1',
 'WEEKENDS_HOLIDAY_23_out_1',
 'population',
 'density',
 'makan index',
 'hdb_count0.2',
 'hdb_count0.5',
 'hdb_count2',
 'hdb_count1',
 'classification']